absl-py==1.0.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.1.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
async-timeout==4.0.2
asyncssh==2.13.0
atpublic==3.1.1
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
bitarray==2.6.0
brotlipy==0.7.0
cachetools==5.0.0
celery==5.2.7
certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
charset-normalizer==3.0.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
colour==0.1.5
colour-science==0.4.1
conda==4.9.2
conda-build==3.21.4
conda-package-handling==1.7.2
configobj==5.0.8
cryptography==3.2.1
cycler==0.11.0
decorator==4.4.2
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.8.0
dnspython==2.1.0
dpath==2.1.4
dulwich==0.21.2
dvc==2.45.0
dvc-data==0.40.1
dvc-http==2.30.2
dvc-objects==0.19.3
dvc-render==0.1.2
dvc-studio-client==0.4.0
dvc-task==0.1.11
dvclive==2.0.2
et-xmlfile==1.1.0
filelock==3.0.12
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.31.2
frozenlist==1.3.3
fsspec==2023.1.0
funcy==1.18
gitdb==4.0.10
GitPython==3.1.30
glob2==0.7
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grad-cam==1.4.6
grandalf==0.8
grpcio==1.44.0
h5py==3.6.0
hydra-core==1.3.1
idna==2.10
imageio==2.16.1
importlib-metadata==4.11.3
importlib-resources==5.10.2
ipython==7.21.0
ipython-genutils==0.2.0
iterative-telemetry==0.0.7
jedi==0.17.0
Jinja2==2.11.3
joblib==1.2.0
kiwisolver==1.4.2
kombu==5.2.4
libarchive-c==2.9
lxml==4.9.2
Markdown==3.3.6
markdown-it-py==2.1.0
MarkupSafe==1.1.1
matplotlib==3.5.1
mdurl==0.1.2
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mmh3==3.0.0
multidict==6.0.4
nanotime==0.5.2
networkx==2.7.1
nltk==3.8.1
numpy==1.24.2
oauthlib==3.2.0
olefile==0.46
omegaconf==2.3.0
opencv-python==4.5.5.64
openpyxl==3.0.10
orjson==3.8.6
packaging==21.3
pandas==1.4.3
parso==0.8.1
pathspec==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip==23.1.2
pkginfo==1.7.0
prompt-toolkit==3.0.36
protobuf==3.20.0
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pydot==1.4.2
pygit2==1.11.1
Pygments==2.14.0
pygtrie==2.5.0
pyOpenSSL==19.1.0
pyparsing==3.0.7
PySocks==1.7.1
python-dateutil==2.8.2
python-etcd==0.4.5
pytz==2022.7.1
PyWavelets==1.3.0
PyYAML==5.4.1
rawpy==0.17.3
regex==2022.10.31
requests==2.24.0
requests-oauthlib==1.3.1
rich==13.3.1
rsa==4.8
ruamel.yaml==0.17.21
ruamel_yaml==0.15.87
ruamel.yaml.clib==0.2.7
scikit-image==0.19.2
scikit-learn==1.1.3
scipy==1.8.0
scmrepo==0.1.9
setuptools==50.3.1.post20201107
shortuuid==1.0.11
shtab==1.5.8
six==1.15.0
smmap==5.0.0
snap==0.5
soupsieve==2.2
sqltrie==0.0.28
summary==0.2.0
tabulate==0.9.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
threadpoolctl==3.1.0
tifffile==2022.3.25
tomlkit==0.11.6
torch==1.8.1
torchelastic==0.2.2
torchinfo==1.8.0
torchsummary==1.5.1
torchtext==0.9.1
torchvision==0.9.1
tqdm==4.64.1
traitlets==5.0.5
ttach==0.0.3
typing_extensions==4.5.0
urllib3==1.25.11
vine==5.0.0
voluptuous==0.13.1
wcwidth==0.2.5
Werkzeug==2.1.1
wheel==0.35.1
yarl==1.8.2
zc.lockfile==2.0
zipp==3.13.0
